<div class="page-header text-center col">
  <img src="/images/RayinCrisisVest.png" alt="">
  <p class="text-justify text-center">California Governor Arnold Schwarzenegger founded After-School All-Stars, a free after-school program for inner-city kids, in 1990. This week, he surprised a group of school children on a two-day ski trip at Mammoth Mammoth, California. He took
    some runs with the kids and offered them some valuable advice ("Make a turn!" and "You can be anything you want to be," he told them). Check out the video below for more on that. <br><br>Austrians are known for their ski legacy, and the Governator is no
    exception: He's often been spotted carving turns at Sun Valley, Idaho. Sadly, we've never had a chance to ski with Schwarzenegger, but if we did, here's what we'd want to ask him (Arnold, if you're reading this, email us answers!). What would you ask
    Arnold Schwarzenegger if you found yourself riding up the chairlift with him? Tell us in the comments section below. Questions for Governor Schwarzenegger: What kind of skis do you use? We're guessing you prefer an Austrian-made carving ski, like the
    Atomic D2 Vario Cut or the Kästle MX70. Are we right? What kind of pre-season strength training exercises do you do to get in shape for ski season? Any workout tips you can offer us? How do you juggle a full-time job—being governor of California, of
    course—with skiing? How many ski days a season do you get in? We’re guessing a private jet to Sun Valley helps make the travel easier. Any chance there’s legislation in the works in California that will make powder days mandatory vacation days for
    all employees? Come on. Can’t you make that happen? Best “powdah” day of your life?</p>
</div>
