<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/student_skier.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Counting Eskimo words for snow: A citizen's guide
</h5>
    <p class="card-text">Lexemes referring to snow and snow-related notions in
Steven A. Jacobson's (1984) Yup'ik Eskimo dictionary[1]
Anthony C. Woodbury
University of Texas at Austin
July 1991p>
    <a href="https://www.princeton.edu/~browning/snow.html" class="btn btn-primary">Read Full Article</a>
  </div>
</div>
