<h1>Create a Post</h1>


<form method="post" action ="/createpost">
  <div class="row">
    <div class="col-md-4 top-marg">
    <input name="title" type="text" placeholder="Enter Your Title">
    </div>

    <div class="col-md-12 top-marg-2">
    <textarea name="post" cols="50" rows="9" placeholder="Enter Your Message"></textarea>
    </div>
  </div>
  <input type ="submit" value="Submit">
</form>
