<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="<%= url('main.css')%>" rel="stylesheet">
    <title>Welcome to &#220;ber Ski Blog</title>
  </head>

  <body>
    <div class="jumbotron">

      <div class="container">
        <nav class="navbar navbar-light bg-light">
          <!-- <a class="navbar-brand" href="#"> -->
          <!-- <img src="images/arnld.jpg" width="20%" height="20%" class="d-inline-block align-top" alt=""> Uber Ski Blog</a> -->

          <ul class="nav justify-content-end">
            <% if session[:user_id] %>
              <!-- only show this code when signed in -->
              <!-- clicking on this link will hit the get "/sign-out" route -->
              <li class="nav-item">
                <a class="nav-link active" href="/signout">Sign Out
                </a>
              </li>
            <% else %>
              <!-- only show this code when signed out -->
              <li class="nav-item">
                <a class="nav-link active" href="/signin">Sign in
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogposts">Read</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/write">Write</a>
            </li>
          </ul>
        </nav>
        <div class="page-header text-center">
          <h1>Welcome to
            <br>&#220;ber Ski Blog</h1>
          <p>where you can learn everything about skiing!</p>
        </div>
        <section>
          <div class="container">

            <div class="row">

              <%= yield %>

            </div>
          </div>
        </section>

      </div>
    </div>
  </body>

</html>
