<h1>Welcome to the Uber Ski Blog website!</h1>

Please <a href="/signin"><span class="red">SIGN IN</span></a>  to see more!


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.sciencesource.com/Doc/SCS/Media/TR1_WATERMARKED/0/7/d/4/SS2562935.jpg?d63642764426" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Counting Eskimo words for snow: A citizen's guide
</h5>
    <p class="card-text">Lexemes referring to snow and snow-related notions in
Steven A. Jacobson's (1984) Yup'ik Eskimo dictionary[1]
Anthony C. Woodbury
University of Texas at Austin
July 1991 /p>
    <a href="https://www.princeton.edu/~browning/snow.html" class="btn btn-primary">Read Full Article</a>
  </div>
</div>
